@import "./base.css";

.home {
	.main__heading {
		font-size: 2.25rem;
		font-weight: 700;
		line-height: 1.05;

		@media (width >= 28.75rem) {
			font-size: 3.75rem;
		}

		@media (width >= 87.5rem) {
			font-size: 8rem;
		}
	}

	.main__subheading {
		font-size: 1.25rem;
		margin-block-start: 0.75rem;
		line-height: 1.3;

		@media (width >= 28.75rem) {
			font-size: 2.5rem;
		}
	}

	.main__button-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5625rem;
		margin-block-start: 2rem;
		max-inline-size: 18.75rem;

		@media (width > 28.75rem) {
			margin-block-start: 6.25rem;
			max-inline-size: 43.75rem;
		}
	}

	.main__button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 1.25rem;
		padding-inline: 1.125rem;
		block-size: 3rem;
		font-size: 0.875rem;
		font-weight: 700;
		border: 0.25rem solid var(--color-button-border);
		background-color: transparent;
		color: var(--color-text-on-primary);
		cursor: pointer;
		transition: outline 0.2s linear;

		&:hover,
		&:focus-visible {
			outline: 2px solid var(--color-text-on-primary);
		}

		&:active {
			outline: 0.25rem solid var(--color-text-on-primary);
		}

		.main__button-img {
			width: 1.5rem;
			height: 1.5rem;
		}

		@media (width >= 28.75rem) {
			block-size: 6.25rem;
			font-size: 1.5rem;

			.main__button-img {
				width: 2rem;
				height: 2rem;
			}
		}

		@media (width >= 75rem) {
			padding-inline: 4rem;
			font-size: 2rem;
		}

		&.primary {
			background-color: var(--color-button-primary-bg);
			color: var(--color-button-primary-text);
		}

		&.secondary {
			background-color: transparent;
			color: var(--color-text-on-primary);
		}
	}
}
